body
{
	margin: 0;
	background-color: black;
	
}
#container
{
	width: 1138px;
	height: 620px;
	background-color: #333;
	margin: auto;
	text-align: center;
}
#logo
{
	height: 100px;
	background-color:  #444;
	width: 1138px;
}
#shipsLeft
{
	width: 470px;
	height: 628px;
	background-color: #555;
	float: left;
	padding-right: 20px;
	padding-left: 20px;
	
}
.largeShip
{
	float: left;
	width:200px;
	height: 80px;
	background-color: orange;
	margin: 10px 15px 10px 15px;
	overflow: auto;
}
.mediumShip
{	
float: left;
	width:200px;
	height: 80px;
	background-color: green;
	margin: 10px 15px 10px 15px;
	overflow: auto;

}
.smallShip
{
	float: left;
	width:200px;
	height: 80px;
	background-color: blue;
	margin: 10px 15px 10px 15px;
	overflow: auto;

}
.boat
{
	float: left;
	width:200px;
	height: 80px;
	background-color: red;
	margin: 10px 15px 10px 15px;
	overflow: auto;

}
#board
{
	width: 620px;
	height: 620px;	
	float: left;	
	background-image: url("../Img/Water.jpg");
	border: 2px solid orange;
	padding: 2px;
}

td
{
	height: 60px;
	width: 60px;
	background-repeat: no-repeat;
	background-size: cover;

}
table
{
	border-collapse: collapse;
}

td:hover
{
	background-image: url("../Img/Fire.png");
}

#counter
{
	float: left;
	width:430px;
	height: 85px;
	background-color: purple;
	margin: 10px 15px 10px 15px;
	text-align: center;
	font-size: 55px;
	font-weight: 700;
	padding-top: 15px;

}
#footer
{
	clear: both;
	width: 1138px;
	height: 30px;
	background-color: #777;
}