*
{
	box-sizing: border-box;
}
body
{
	margin: 0;
	
	
}
#container
{
	display: flex;
	flex-flow: row wrap;
	width: 1260px;
	max-height: 1200px;
	height: auto;
	/*background: linear-gradient( 0deg, #330136, #5E1742, #962E40);*/
	/*background: linear-gradient( 0deg, #01062A, #0C3BA5, #015CDD, #539F85);*/
	background: linear-gradient( 0deg, #000, 50px, #01062A, 150px,#00275C, #1270C0);
	margin: auto;
	text-align: center;
	position: relative;
}
#logoContainer
{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: transparent;
	width: 100%;
	height:200px;
	/*box-shadow: 5px 5px 40px black;*/
}

#shipsLeft
{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	width: 600px;
	height: 607px;
	background-color: transparent;
	/*background: linear-gradient( 45deg , #1270C0, #00275C);*/
}
.largeShip
{
	width:200px;
	height: 80px;
	background-image: url(./../Img/largeShip.png);
	margin: 10px 40px 10px 40px;
	overflow: auto;	
}

.mediumShip
{	
	width:200px;
	height: 80px;
	background-image: url(./../Img/mediumShip.png);
	margin: 10px 40px 10px 40px;
	overflow: auto;

}
.smallShip
{
	width:200px;
	height: 80px;
	background-image: url(./../Img/smallShip.png);
	margin: 10px 40px 10px 40px;
	overflow: auto;

}
.boat
{
	width:200px;
	height: 80px;
	background-image: url(./../Img/boat.png);
	margin: 10px 40px 10px 40px;
	overflow: auto;

}
#board
{
	position: relative;
	width: 604px;
	height: 604px;	
	background-image: url("../Img/Water.jpg");
	border: 2px solid orange;
	padding: 0px;
	box-shadow:  5px 5px 10px inset black;
	margin: 0px 0px 0px 52px;
	display: flex;
	flex-flow: wrap row;
}
.cell
{
	height: 60px;
	width: 60px;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #36557F;
	

}


.uncovered:hover
{
	background-image: url ("../Img/Fire.png");
	transform: scale(1.1);
	cursor: pointer;
	box-shadow: 2px 2px 10px black;
}
.uncovered
{
	box-shadow: 3px 3px 5px black;
}

#counter
{
	float: left;
	width:430px;
	height: 85px;
	background-color: purple;
	margin: 10px 15px 10px 15px;
	text-align: center;
	font-size: 55px;
	font-weight: 700;
	padding-top: 15px;

}
#footer
{
	align-self: flex-end;
	width: 1260px;
	height: 100px;
	background-color: transparent;
}
.sunk
{
	animation-name: greyScale;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	position: relative;
}

@keyframes greyScale
{
		
	50%
	{
		
		transform: scale(1.2);
		z-index: 10;
	}
	100%
	{
		transform: scale(1);
		filter: grayscale(100%);
		z-index: 3;
		/*box-shadow: -5px -5px 5px #444;*/
		
	}
}
.shadow
{
	box-shadow: 5px 5px 10px rgb(0, 14, 32);
}
.splash
{
	box-sizing: border-box;
	background: linear-gradient( 135deg, rgba(0, 0, 0, 0.6) 300px, rgba(150, 46, 64, 0.8) 600px, #003E91);
	width: 100%;
    height: 900px;
	position: absolute;
	top:0;
	left: 0;
	opacity: 1;
	z-index: 5;
	transform: scaleY(0);
	transition: 1s transform ease-out;
	transform-origin: right;
}

#button, #under-button
{
	box-sizing: border-box;
    position: absolute;
    width: 20%;
    height: 120px;  
    border-radius: 30%;
    transform: skewX(-10deg);
    border: 1px solid black;
}
#button
{    
    padding-top: 25px;
    font-size: 45px;
    font-weight: 900;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    color: orange;
    background: linear-gradient( 180deg, #5E1742, #962E40, #C9463D);
    left:40%;
    bottom: 150px;
	z-index: 4;
	opacity: 0;
	transition: 1s opacity ease-in;
	transition-delay: 0.5s;
	
}

#under-button
{
    left:41%;
    bottom: 147px;
    z-index: 2;
    box-shadow: 5px 5px 15px black;
	background: linear-gradient( 0deg , #00275C, #003E91, #4C98FF);
	opacity: 0;
	transition: 1s opacity ease-in;
	transition-delay: 0.5s;
}

@keyframes hoverBotton
{
	20% {background: linear-gradient( 180deg, #5E1742, #962E40, #C9463D)}
	30%{background: linear-gradient( 180deg,#FF5E35, #5E1742 , #962E40, #C9463D)}
	50%{background: linear-gradient( 180deg, #5E1742, #FF5E35, #C9463D)}
	80%{background: linear-gradient( 180deg, #5E1742, #962E40,#FF5E35, #962E40, )}
	100%{background: linear-gradient( 180deg, #5E1742, #962E40, #C9463D, #FF5E35)}
}
#button:hover
{
	animation-name: hoverBotton;
	animation-delay: 0.5s;
	animation-duration: 0.1s;
	cursor: pointer;
}



.show {
	display: block;
	transform: scaleY(1);
}

.show > #under-button , .show > #button   {
	opacity: 1;
}

